.product-page-wrapper {
    margin-top: 7rem;
}

.product-section {
    display: flex;
    flex-wrap: wrap;
   
    justify-content:center;
    align-items: center;
    padding: 4rem;
    gap: 4rem;
}

#imageContainer {
    overflow: hidden;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-image-separate {
    
    width: 100%;
    transform-origin: center center;
    transform-origin: 20px 20px;
    transform: scale(1);
    
}

@media only screen and (min-width: 800px) {
    .product-section {
        flex-wrap: nowrap;
    }

    .product-image-separate {
        
        width: 30vw;;
    }
}

